@model HtmlHelpers.Models.StudentOrnekViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayFor</title>
</head>
<body>
    <div>    
            <label>Adi: @Html.DisplayFor(m => m.StudentName)</label>

    </div>
</body>
</html>
