@model HtmlHelpers.Models.Lecture
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DropDownListForViewBag</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m =>m.LectureName)
            @Html.DropDownListFor(m => m.LectureId, new SelectList(ViewBag.LectureList, "LectureId", "LectureName"), "Please Select")
            <input type="submit" name="gonder" value="Gonder" />
        }
    </div>
</body>
</html>
