
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialView2</title>
</head>
<body>
    <div> 
        <h1>PartialView2.cshtml</h1>
        <h2>Ogrenciler listelenir. Alt kategoriler vs vs</h2>
    </div>
</body>
</html>
