
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultView</title>
</head>
<body>
    <div> 
        Result View Hosgeldiniz
    </div>
    <div>
        @Model  (Gelen model verisi)
    </div>
</body>
</html>
